@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300;400&display=swap');

/* Main View Styling */

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'oswald', sans serif;
    background-color: gray;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure at least 100% viewport height */
}


/* Header and Footer*/
header {
    text-align: center;
    margin: auto;

}

footer {

    width: 100%;
    height: 25px;
    min-height: 25px;
    box-sizing: border-box;
    padding-top: 1px;
    text-align: center;
    color: gray;
    background-color: black;
    margin-top: auto;
}

footer>p {
    font-size: 20px
}

/* Game area*/
.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 50px;
}

.selector {
    display: inline-block;
    margin: 15px;
    width: 150px;
    height: 30px;
}


.player {
    background-color: green;
    float: left;
    width: 30%;
    height: 290px;

}

.computer {
    background-color: red;
    float: right;
    width: 30%;
    height: 290px;
}



#messages {
    height: 0px;
    padding-top: 60px;
}




#player-image {
    width: 50%;
    height: 55%;
    position: relative;
}

#computer-image {
    width: 50%;
    height: 55%;
    position: relative;
}

.round {
    text-align: left;
    padding-top: 0.5px;
}

#player-round {
    padding-top: 0.3px;
}

#computer-round {
    padding-top: 0.3px;
}

/* Media query for smaller screnes*/

@media only screen and (max-width: 600px) {
    .game-area {
        width: 90%;
        margin-top: 20px;
    }

    .selector {
        width: 100%;
        margin: 10px 0;

    }

    .player,
    .computer {
        width: 100%;
        float: none;

    }

    #player-image,
    #computer-image {
        width: 100%;
        /* Make the images fill the container width */
        height: auto;
        /* Maintain aspect ratio */
        max-width: 100%;
        /* Ensure the image doesn't exceed its natural size */
        display: block;
        /* Remove default inline behavior */
        margin: 0 auto;
        /* Center the image */
    }

    #messages {
        display: none;
    }


}