@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300;400&display=swap');

/* Main View Styling */

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: oswald, sans serif;
    background-color: gray;
}

/* Header and Footer*/
header {
    text-align: center;
    margin: 0;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    min-height: 70px;
    padding-top: 2px;
    text-align: center;
    color: gray;
    background-color: black;
}